[user]
	name = Jan Huber
	email = jan.huber90@gmail.com
[push]
	default = current
[alias]
	s = status -s
	st = status -s
	ci = commit
	co = checkout
	d = diff
	di = diff
	dt = difftool --no-prompt
	xd = log -p -1
	b = branch
	br = branch
	m = merge
	me = merge
	p = push
	f = fetch --all -p
	fe = fetch --all -p
	r = remote -v
	l = log --oneline --graph --decorate -33
	la = log --oneline --graph --decorate -33 --all
	ll = log --oneline --graph --decorate
	lla = log --oneline --graph --decorate --all
	lls = log --oneline --graph --decorate --simplify-by-decoration
	llsa = log --oneline --graph --decorate --simplify-by-decoration --all
	lo = log --oneline --decorate -55
	loo = log --oneline --decorate
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
	mr-tfs = !sh -c 'git fetch $1 refs/pull/$2/merge:mr-$1-$2 && git checkout mr-$1-$2' -
	dtm = difftool -y --tool=meld
	dtmd = difftool -d --tool=meld
[core]
	editor = vim
[color]
	ui = auto
[diff]
	tool = vimdiff
