[user]
	name = Andrey Shvetsov
	email = andrey.shvetsov@k2l.de
[push]
	default = simple
[alias]
	l = log --oneline --graph --decorate -33
	ll = log --oneline --graph --decorate -33 --all
	la = log --oneline --graph --decorate
	lla = log --oneline --graph --decorate --all
	ls = log --oneline --graph --decorate --simplify-by-decoration
	lls = log --oneline --graph --decorate --simplify-by-decoration --all
	st = status -s
	ci = commit
	co = checkout
	di = diff
	br = branch
[core]
	editor = vim
