[user]
	name = Andrey Shvetsov
	email = andrey.shvetsov@k2l.de
[push]
	default = current
[alias]
	s = status -s
	st = status -s
	ci = commit
	co = checkout
	d = diff
	di = diff
	xd = log -p -1
	b = branch
	br = branch
	m = merge
	me = merge
	p = push
	f = fetch --all -p
	fe = fetch --all -p
	r = remote -v
	l = log --oneline --graph --decorate -33
	la = log --oneline --graph --decorate -33 --all
	ll = log --oneline --graph --decorate
	lla = log --oneline --graph --decorate --all
	lls = log --oneline --graph --decorate --simplify-by-decoration
	llsa = log --oneline --graph --decorate --simplify-by-decoration --all
	lo = log --oneline --decorate -55
	loo = log --oneline --decorate
[core]
	editor = vim
[color]
	ui = auto
