call plug#begin('~/.vim/plugged')
Plug 'chriskempson/base16-vim'
Plug 'ansv/vim-supernext'
Plug 'airblade/vim-gitgutter'
Plug 'tpope/vim-fugitive'
Plug 'vim-ctrlspace/vim-ctrlspace'
call plug#end()

set termguicolors
"let base16colorspace=256
" see http://chriskempson.com/projects/base16/ for base16 colors
colorscheme base16-google-dark

let mapleader = "-"
set notimeout
set ttimeout

syntax enable

" set background color to none to keep transparency
hi Normal ctermbg=none

set hidden " for CtrlSpace
set nocompatible "for CtrlSpace

set hlsearch
set ignorecase
set smartcase
set incsearch

set scrolloff=17
set colorcolumn=81

set number
set relativenumber

set cursorline

set modelines=1
"set tabstop=4
"set shiftwidth=4
"set softtabstop=4
"set expandtab

set laststatus=2
set statusline=%t[%{strlen(&fenc)?&fenc:'none'},%{&ff}]%h%m%r%y%=%c,%l/%L\ %P

nnoremap <Leader>gd :Gdiff<CR>

" CtrlSpace                                                                      
let g:CtrlSpaceLoadLastWorkspaceOnStart = 1                                      
let g:CtrlSpaceSaveWorkspaceOnSwitch = 1                                         
let g:CtrlSpaceSaveWorkspaceOnExit = 1

cnoremap <expr> :: getcmdtype() != ':' ? '::' : 'e '.expand(!empty(expand('%')) ? '%:h' : '#:h').'/'
